#vBox1{
	-fx-background-color:rgba(0,0,0,1);
	-fx-border-color:gray;
}
#vBox2{
	-fx-background-color:linear-gradient(to right,#000000,#ffffff);
	-fx-border-color:gray;
}
#vBox3{
	-fx-background-color: radial-gradient(center 5% 5%, radius 50%, #ffffff,#000000);
	-fx-border-color:gray;
}
#vBox4{
	-fx-background-image: url("images/icon.gif");
	-fx-border-color:skyblue;
}
#vBox5{
	-fx-background-image: url("images/icon.gif");
	-fx-background-repeat:no-repeat;
	-fx-border-color:skyblue;
}
#vBox6{
	-fx-background-image: url("images/icon.gif");
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-border-color:skyblue;
}