Label {
	-fx-background-color: black;
	-fx-text-fill: yellow; 
	-fx-padding: 10; 
	-fx-font-size: 15; 
}
Label:hover{
	-fx-background-color: #FE2E64;
	-fx-text-fill:#000000;
	-fx-padding:6; 
	-fx-font-size:13; 
}
Label:pressed{
	-fx-background-color: #FFFFFF;
	-fx-text-fill:#000000;
	-fx-padding:10; 
	-fx-font-size:15; 
}