.root{
	-fx-background-image:url("images/background.jpg");
}
#label_welcome{
	-fx-font-size:35px;
	-fx-font-family : "Arial Black";
	-fx-text-fill:linear-gradient(to bottom,darkgray,lightgray);
	-fx-effect: innerShadow(three-pass-box,rgba(0,0,0,0.7),3,0,2,2.1);
}
Button{
	-fx-effect: innerShadow(three-pass-box,rgba(0,0,0,0.7),3,0,2,2.1);
}
Button:hover{
	-fx-background-color:linear-gradient(#2a5058,#61a2b1);
}
Button:pressed{
	-fx-background-color:linear-gradient(yellow,#61a2b1);
}